[Unit]
Description=Snappy daemon
Requires=snapd.socket

[Service]
ExecStart=/usr/lib/snapd/snapd
Environment=LD_LIBRARY_PATH=/usr/lib/snapd/lib
Restart=always
Type=notify

[Install]
WantedBy=multi-user.target
