[Unit]
Description=Syncloud Store

[Service]
ExecStart=/usr/lib/syncloud-store/bin/store start
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
